doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul
      li
        a(href="../calendar") Calendar
      li
        a(href="../event") Event List
      li
        a(href="../event/create") Create an Event
    block content
