body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


#weekendList li {
  list-style: none;
}

.weekend {
    padding:5px;
    display:flex;
    justify-content: space-evenly;
}
.weekend p{
  margin:0px;
  padding:0px;
}

.weekend a{
display:block;
}

.container-weekend {
width: 30%;
}

.weekendDay,.holiday {
  background-color: #62f09b;
}

.weekDay {
  background-color: #f5ed93;
}


.user-weekend-container {
  border:1px solid black;
  width:30%;
}

